/* цвет абзацев      #757575
   цвет заголовков  #212121
   основной цвет (цвет ховера)  #2196F3 
   
   background nav #FFFFFF
   background footer (hero) #2F303A
   background first: #F5F5F5
   background second #F5F4FA
   */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --main-color: #2196f3;
  --button-bgc: #f5f4fa;
  --inverts-color: #ffffff;
  --header-border-color: #ececec;
  --portfolio-border-color: #eeeeee;
}

/* UTILTTES */

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  background-color: var(--inverts-color);
  color: var(--primary-text-color);

  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* SITE NAV */

.header {
  border-bottom: 1px solid var(--header-border-color);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.main-header {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.link {
  text-decoration: none;
}

.logo {
  margin-right: 93px;

  color: #000000;
  text-decoration: none;
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo > span {
  color: var(--main-color);
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .current {
  color: var(--main-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--main-color);
}

.contact-nav {
  display: flex;
  margin-left: auto;
}

.contact-nav .item:not(:last-child) {
  margin-right: 50px;
}

.contact-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
}

.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--main-color);
}

/* HERO */

.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--inverts-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.hero-button {
  min-width: 216px;
  border-radius: 4px;
  padding: 10px 32px;

  color: var(--inverts-color);
  background-color: var(--main-color);
  border-style: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-family: roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/* OUR FEATURES */

.features-list .text {
  font-size: 14px;
  line-height: 1.7;
}

.features-list .list-title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}

.features-list .item {
  width: calc((100% - 90px) / 4);
}

.features-list .item:not(:last-child) {
  margin-right: 30px;
}

/* WHAT ARE WE DOING */

.project {
  padding-top: 0px;
}

.doing-list {
  display: flex;
}

.doing-list .item:not(:last-child) {
  margin-right: 30px;
}

/* OUR TEAM */

.team {
  background-color: var(--button-bgc);
}

.person {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-title-list {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list .list-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.team p {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list {
  display: flex;
}

.team-list .item {
  width: calc((100% - 90px) / 4);

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list .item:not(:last-child) {
  margin-right: 30px;
}

/* PORTFOLIO */

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-list .item:not(:last-child) {
  margin-right: 8px;
}

.button-list .link {
  padding: 6px 22px;
  border-style: none;
  border-radius: 4px;
  cursor: pointer;

  color: var(--title-text-color);
  background-color: var(--button-bgc);
  font-family: roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

.button-list .link:hover,
.button-list .link:focus {
  color: var(--inverts-color);
  background-color: var(--main-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* GRID */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list .item {
  width: calc((100% - 60px) / 3);
}

.item-border {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid var(--portfolio-border-color);
  border-bottom: 1px solid var(--portfolio-border-color);
  border-left: 1px solid var(--portfolio-border-color);
}

.portfolio-list .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-list .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-list a {
  text-decoration: none;
}

.portfolio-list .list-title {
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list .text {
  color: var(--primary-text-color);
  font-family: roboto;
  font-size: 16px;
  line-height: 1.88;
}

/* FOOTER */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--inverts-color);
  text-decoration: none;
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.footer-logo > span {
  color: var(--main-color);
}

.address-title .link {
  color: var(--inverts-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address-title .contact {
  color: rgba(255, 255, 255, 0.6);
  font-family: roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address-title .contact:hover,
.address-title .contact:focus {
  color: var(--main-color);
}

.address-title .item:not(:last-child) {
  margin-bottom: 9px;
}
